# https://EditorConfig.org
root = true

[*]
insert_final_newline = true
charset = utf-8

[*.sln]
end_of_line = crlf
indent_style = tab

[*.csproj]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.cs]
end_of_line = lf
indent_style = space
indent_size = 4
